/*#### Backgorund ####*/
.background-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: -webkit-linear-gradient(top left, #252525 10%, #343636 80%);
}

.background {
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  height: 105%;
  position: relative;
}

/*#### Form ####*/
.changePasswordForm {
  background: linear-gradient(to right, #252525, #383535, #272727);
  border: 1px solid #191919;
  border-radius: 1.4em;
  box-shadow: 0 5px 10px 5px rgba(37, 37, 37, 0.3);
  max-height: 25em;
  max-width: 22em;
  min-width: 12em;
}

.inset {
  border-top: 1px solid #FFbb00;
  padding: 1.2em;
}

/*#### Logo with text ####*/
#caricon{
  color: #FFbb00;
  max-height: 1em;
  max-width: 1em;
  padding: 0.1rem;
}

.changePasswordForm h1 {
  text-align: center;
  padding-bottom: 0.5rem;
  min-width: 2em;
}

/*#### Input fields ####*/
.changePasswordForm input[type=text],.changePasswordForm input[type=password] {
  background: linear-gradient(#1f2124,#27292c);
  border: 1px solid #252525;
  border-radius: .3em;
  box-shadow: 0 1px 0 #ffffff1a;
  color: #FFF;
  font-size: 13px;
  padding: 0.5rem 0.5rem;
}

.changePasswordForm input[type=text]:hover:not([disabled]), 
.changePasswordForm input[type=text]:focus, 
.changePasswordForm input[type=password]:hover:not([disabled]), 
.changePasswordForm input[type=password]:focus{
  background: #27292c;
}

.changePasswordForm a{
  color: #FFbb00;
  text-decoration: none;
}

/*#### Button ####*/
#buttonContainer{
  width: 80%; 
  margin-top: -0.9rem;
  margin-bottom: -0.9rem;
  text-align: center;
}

.confirm,.back{
  background: #fb0;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 1.3em;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
  color: #873C00;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  height: 30%;
  padding: 0.5rem 0.5rem;
  margin-top: 0.2rem;
}
.confirm:hover,.confirm:focus, .back:hover,.back:focus {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 -10px 10px rgba(255,255,255,0.3);
}
.confirm:disabled,.back:disabled {
    background: rgb(156, 115, 2);
  }