<ng-template #addLevelModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add level</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body" data-test-id="level-add-modal">
        <form class="addLevelForm" [formGroup]="formAddLevel">
            <div>
                <div class="p-2">
                    <input formControlName="name" class="mb-1" type="text" id="name" name="name" placeholder="Level number">
                    <input formControlName="slots" class="mb-1" type="number" id="slots" name="slots" placeholder="Slots">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer user-footer justify-content-center">
        <button data-test-id="level-add-modal-cancel" type="button" class="btn btn-outline-secondary" (click)="modal.close('cancel click')">Cancel</button>
        <button data-test-id="level-add-modal-submit" class="register" type="submit" class="btn" (click)="addLevel(this.select)">Add</button>
    </div>
</ng-template>
<div class="user-footer">
    <button data-test-id="level-table-add-level" class="btn float-end" (click)="open(addLevelModal)">Add level</button>
</div>