span{
    color:#ffbb00;
}
h2{
    color:#ffbb00;
}

/*#### Select ####*/
.inputPosition {
    background:#696b6e;
    border: 1px solid #252525;
    border-radius: .3em;
    box-shadow: 0 2px 0 #ffffff1a;
    color: white;
    font-size: 13px;
    padding: 0.5rem 0.5rem;
}


option{
    background: #252525;
    color: #FFF;
}
.slot{
    width: 80px;
    background-color: #198754;
    border-radius: 10px;
}
.free{
    background-color: #6d6d6d;
}
/*#### Button ####*/
.reserveSection button{
    color: #ffbb00 !important;
    border: 1px solid #ffbb00 !important;
}
.reserveSection button:hover{
    background: #ffbb00 !important;
    color: #000 !important;
}